[submodule "plugins/rose-pine"]
	path = plugins/rose-pine
	url = https://github.com/rose-pine/swaync.git
[submodule "plugins/rose-pine_waybar"]
	path = plugins/rose-pine_waybar
	url = https://github.com/rose-pine/waybar.git
