[submodule "plugins/rose-pine"]
	path = themes
	url = https://github.com/rose-pine/hyprland.git
[submodule "themes/rose-pine"]
	path = lua/aky/themes/rose-pine
	url = https://github.com/rose-pine/hyprland.git
	branch = main
