[submodule "themes/catppuccin"]
	path = themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "themes/rose-pine"]
	path = themes/rose-pine
	url = https://github.com/rose-pine/alacritty.git
