# install any nerd font
ttf-lilex-nerd

# remove default Neovim Themes
rm -rv /usr/share/nvim/runtime/colors/*.vim  

# programs to install on archlinux
pacman -S --noconfirm neovim ripgrep node lazygit go make

# programs to install on alpine
apk add neovim ripgrep nodejs lazygit go make fzf curl npm rust cargo nvim-treesitter dotnet10-sdk nerd-fonts-all

# programs to install on ubuntu LTS
flatpak install io.neovim.nvim
sudo apt install ripgrep nodejs golang
sudo add-apt-repository ppa:lazygit-team/release && sudo apt update && sudo apt install -y lazygit
