/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
 * Panda colors (inspired by Catppuccin-Frappe)
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  padding: 0;
  margin: 0;
  transition: none;
}

* {
  font-family:
    RecMonoDuotoneNerdFont, "0xProtoNerdFont", RecMonoDuotoneNerdFont,
    DroidSansMNerdFont, CodeNewRomanNerdFont, monospace;
  font-size: 16px;
  font-weight: 500;

  margin-right: 2px;
  margin-left: 2px;
  border-radius: 2px;
}

window#waybar {
  background: transparent;
  font-weight: 700;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#temperature.gpu,
#temperature.ssd,
#tray,
#workspaces,
#custom-launcher,
#custom-gpu-usage,
#custom-power,
#custom-pacman,
#custom-notification,
#custom-updates,
#custom-hypridle,
#custom-exit {
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 2px;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button.empty,
#workspaces button.hosting-monitor,
#workspaces button.persistent,
#workspaces button.special,
#workspaces button.urgent,
#workspaces button.visible {
  padding-left: 2px;
  padding-right: 2px;
}

/* text-light */
* {
  color: #eeeeee;
}

/* text-dark */
#workspaces button.visible {
  color: #343434;
}

/* background-light */
#workspaces button.visible {
  background-color: #dddddd;
}
/* background-dark */
#clock,
#battery,
#cpu,
#disk,
#memory,
#idle_inhibitor,
#temperature,
#temperature.gpu,
#temperature.ssd,
#backlight,
#network,
#pulseaudio,
#tray,
#bluetooth,
#power-profiles-daemon,
#mpris,
#custom-launcher,
#custom-gpu-usage,
#custom-power,
#custom-pacman,
#custom-notification,
#custom-updates,
#custom-hypridle,
#custom-exit,
#window,
#workspaces,
#workspaces button,
#clock,
#tray {
  background-color: #505050;
}

/* lime */
#clock,
#tray {
  color: #77dd77;
}
/* red */
#battery.critical:not(.charging) {
  color: #ff7777;
}
